a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.head {
  width: 100%;
  height: 143px;
  position: relative;
  top: 0;
  z-index: 9;
}

.inner {
  width: 70%;
  height: 127px;
  position: absolute;
  top: 16px;
  left: 15%;
}

.head .inner .header-line-one {
  width: 90%;
  height: 67px;
  position: absolute;
  box-sizing: border-box;
  left: 5%;
}

.inner .header-line-one .logo {
  position: absolute;
  left: 0;
}

.inner .header-line-one .menu .sign {
  width: 120px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 0px;
  display: flex;
  list-style: none;
}

.inner .header-line-one .menu .sign li a {
  padding-left: 10px;
}

.head .inner .header-line-two {
  width: 90%;
  height: 60px;
  position: absolute;
  left: 5%;
  top: 67px;
}

.inner .header-line-two .pets .pet {
  width: auto;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 20px;
  list-style: none;
  display: flex;
}

.inner .header-line-two .pets .pet li a {
  padding-right: 10px;
}

.inner .header-line-two .my .my-container {
  width: auto;
  height: 25px;
  position: absolute;
  right: 0;
  top: 20px;
  display: flex;
  list-style: none;
}

.inner .header-line-two .my .my-container li a {
  padding-left: 10px;
}


/* 메인 캐러셀 */
.carousel_main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  user-select: none;
}

.carousel_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.carousel_slide {
  flex: 0 0 100%;
  position: relative;
  transition: left .8s; /* js이동 방향을 지정할 경우에는 transform */
}

.carousel_slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 페이지네이션*/
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li {
  cursor: pointer;
  font-size: 50px;
}

/* RICE  */

.rice_container {
  width: 100%;
  height: 204px;
  position: relative;
}

.rice_container .rice_inner {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
  display: flex;
  justify-content: space-between;
}

.rice h2.italic {
  font-style: italic;
}

.rice:last-child {
  margin-top: 20px;
}

/* RED */

.red_container {
  width: 100%;
  height: 335px;
  background-color: #FA5252;
  /* 상하좌우 정중앙 정렬 */
  display: flex;
  justify-content: center; /* 주축(x) 정렬*/
  align-items: center; /* 교차축(y) 정렬 */
}

.red_inner {
  width: 660px;
  height: 172px;
  color: #fff;
}

.petFood {
  width: 100%;
  height: 45px;
  font-size: 33.4px;
  font-weight: 700;
}

.under {
  position: relative;
}

.under > p {
  width: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.under > div {
  width: 563px;
  height: 62px;
  position: absolute;
  top: 65px;
  left: 50px;
  font-size: 21px;
  text-align: center;
}

/* 두번째 캐러셀 */

.carousel {
  width: 100%;
  height: 481px;
  background-color: green;
  /* 주축정렬 */
  position: relative;
  /* 정중앙 정렬 */
  display: flex;
  justify-content: center; 
  align-items: center;
}

.carousel .slider {
  width: 900px;
  height: 321px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 5px 5px 20px black; /*그림자 넣기 md 참조*/
}

.carousel .slider .slides { /*슬라이더 전체 크기*/
  width: 500%;
  height: 100%;
  display: flex;
}

.carousel .slider .slides input {
  display: none;
}

.carousel .slider .slides .slide {
  width: 100%; /*슬라이더 하나가 가지는 크기*/
  transition: 1.2s;/*버튼 클릭시 전환시간*/
}

.carousel .slider .slides .slide img {
  width: 900px;
  height: 321px;
}

.navigation-manual {
  position: absolute;
  width: 900px;
  margin-top: 280px;
  display: flex;
  justify-content: center;
}

.navigation-manual .manual-btn {
  border: 10px solid #000;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 40px;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}
