a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.head {
  width: 100%;
  height: 143px;
  position: relative;
  top: 0;
  z-index: 9;
}

.inner {
  width: 70%;
  height: 127px;
  position: absolute;
  top: 16px;
  left: 15%;
}

.head .inner .header-line-one {
  width: 90%;
  height: 67px;
  position: absolute;
  box-sizing: border-box;
  left: 5%;
}

.inner .header-line-one .logo {
  position: absolute;
  left: 0;
}

.inner .header-line-one .menu .sign {
  width: 120px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 0px;
  display: flex;
  list-style: none;
}

.inner .header-line-one .menu .sign li a {
  padding-left: 10px;
}

.head .inner .header-line-two {
  width: 90%;
  height: 60px;
  position: absolute;
  left: 5%;
  top: 67px;
}

.inner .header-line-two .pets .pet {
  width: auto;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 20px;
  list-style: none;
  display: flex;
}

.inner .header-line-two .pets .pet li a {
  padding-right: 10px;
}

.inner .header-line-two .my .my-container {
  width: auto;
  height: 25px;
  position: absolute;
  right: 0;
  top: 20px;
  display: flex;
  list-style: none;
}

.inner .header-line-two .my .my-container li a {
  padding-left: 10px;
}


/* 메인 캐러셀 */
.carousel_main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  user-select: none;
}

.carousel_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 1s;
}

.carousel_slide {
  flex: 0 0 100%;
  position: relative;
}

.carousel_slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel_pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel_circle {
  width: 20px;
  height: 20px;
  background-color: #aaa;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

/* RICE  */

.rice_container {
  width: 100%;
  height: 204px;
  position: relative;
  background-color: orange;
}

.rice_container .rice_inner {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}

.rice {
  /* margin-right: 40%; */
}

.rice h2.italic {
  font-style: italic;
}

.rice:last-child {
  margin-top: 20px;
}

/* RED */

.red_container {
  width: 100%;
  height: 335px;
  background-color: #FA5252;
  /* 상하좌우 정중앙 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.red_inner {
  width: 660px;
  height: 172px;
  background-color: #cacaca;
}

.white {
  color: #fff;
  /* margin: 0; */
  /* display: flex; */
  /* justify-content: center; */
}

.white .petFood {
  width: 100%;
  height: 45px;
  background-color: aqua;
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 33px;
}

.white .under {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  height: 10px;
}
